
 <title>Redefinir senha</title>
</head>

<body class="light_mode">
<section class="sec_forms flex_c_c">
  <div class="form_header flex_c_c">
    <div class="form_quote_box">
      <p> <i class="bi bi-quote"></i> {{quote.text}}</p>
      <h3>{{quote.owner}}</h3>
    </div>
  </div>
  <form id="form" action="/auth/new-password?token={{id}}" method="post" accept-charset="utf-8" class="form flex_c_c">
    <div class="form_wrap">
      <div class="form_head flex_c_c">
        <a class="a" href="{{baseUrl}}">
          <div class="logo flex_c_c br60">
            <img height="45px" width="45px" src="/imgs/logo1.png" alt="Logo"/>
          </div>
        </a>
        <p class="form_subtitle">Ao redefinir a senha você concorda com a nossa <a href="/privacy-policy" class="a_default">Política de Privacidade</a> e <a href="/terms-conditions" class="a_default">Termos de condições</a> </p>
      </div>
      <div class="input_card">
        <div class="input_wrap br6-a flex_b_c">
          <input class="input password" id="passwordA"  name="newpassword" type="password"/>
          <label for="passwordA">Nova senha</label>
        </div>
        <div class="label_error"></div>
      </div>
      <div class="input_card">
        <div class="input_wrap br6-a flex_b_c">
          <input class="input password" id="passwordB"  name="repeatpassword" type="password"/>
          <label for="passwordB">Repete a senha</label>
          <div class="password_eye brb-l padd10-a  flex_c_c"><i id="toggleEye" class="bi bi-eye"></i></div>
        </div>
        <div class="label_error"></div>
      </div>
      <div class="input_card">
        <button id="submitBtn" type="button" class="br6-a primary-btn"><div id="btnText">Salvar</div>{{>_minloader}}</button>
      </div>
    </div>
  </form>
  </section>
  <script src="/js/gre.js"></script>