  <div  class="cropper_container">
     <link rel="stylesheet" href="/css/cropper.min.css"/>
    <script src="/js/cropper.js"></script>
      <label for="input_imge">
                    
         <div class="label_input_file br60 flex_c_c">
          <i class="bi bi-camera-fill"></i>
        </div>
        <input class="input_imge" type="file" id="input_imge" accept="image/*"/>
      <input value="{{item.src}}" id="src" name="src" type="hidden"/>
      </label>
    <div id="imagePopup" class="popUp flex_c_c">
   
          <div class="card_popup a_container">
  <div class="modal_header padd15-a flex_b_c">
    <h4>Imagem </h4>
    <div id="close_popup" class="flex_b_c"><svg class="a_close_popup" fill="currentColor" opacity="1.0" baseProfile="full" width="24" height="24" viewBox="0 0 24.00 24.00"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg></div>
  </div>
          <div class="modal_body">
           <div class="a_cropper_container flex_c_c">
            <div>
            <img id="cropper-img"  class="cropper-img"/>
          </div>
          </div> 
          <div class="input_card">
          <div id="img_error" class="img_error"> </div>
          </div>
           <div class="input_card">
      <button id="imageBtn" type="button" class="br6-a primary-btn">Salvar</button>
    </div>
          </div>
            
          </div>
 
       
        </div>
         </div>
 <script  src="/js/cropper-img.js"></script> 
      