  <div class="a_selection">
    <div accesskey="statusDate" class="selection select a_container br6-a">
      <div class="flex_b_c selected_wrap">
        <div class="flex_b_c">
          <i class="bi bi-circle"></i>
          <p id="statusDate" class="selected ellipsis">Por tempo</p>
        </div>
        <i class="bi bi-chevron-down arrow"></i>
      </div>
      <div class="selection_card a_container br6-a">
      <label>
        <div class="flex_s_c">
          <input accesskey="Todo tempo" value="" name="time" type="radio" class="input_radio_menu statusDate"/>
          Todo tempo
        </div>
      </label>
      <label>
        <div class="flex_s_c">
          <input accesskey="Hoje" value="today" name="time" type="radio" class="input_radio_menu statusDate"/>
          Hoje
        </div>
      </label>
      <label>
        <div class="flex_s_c">
          <input accesskey="Este mês" value="month" name="time" type="radio" class="input_radio_menu statusDate"/>
          Este mês
        </div>
      </label>
    </div>
  </div>
</div>