<footer class="footer flex_c_c">
      <div class="m-wraper">
        <div class="flex_wrap">
        <div class="fo_card padd15-a">
          <a href="/" class="a logo flex_s_c"><img src="/imgs/logo1.png"/>{{company}}</a>
          <p>Adoramos fazer parte da sua liberdade financeira.</p>
        </div>
        <div class="fo_card padd15-a">
          <h4 class="m5-b">Links Rápidos</h4>
          <div class="padd5-tb f-link"><a href="/" class="a">Casa</a></div>
          <div class="padd5-tb f-link"><a href="/how-it-works" class="a ellipsis">Como funciona</a></div>
          <div class="padd5-tb f-link"><a href="/auth/login" class="a ellipsis">Conectar-se</a></div>
          <div class="padd5-tb f-link"><a href="/auth/sign-up" class="a ellipsis">Cadastrar-se</a></div>
        </div>
        <div class="fo_card padd15-a">
          <h4 class="m5-b">Empresa</h4>
          <div class="padd5-tb f-link"><a href="/how-it-works" class="a ellipsis">Como funciona</a></div>
          <div class="padd5-tb f-link"><a href="/reviews" class="a ellipsis">Críticas</a></div>
          <div class="padd5-tb f-link"><a href="/terms-condition" class="a ellipsis">Termos de condições</a></div>
          <div class="padd5-tb f-link"><a href="/privacy-policy" class="a ellipsis">Política de Privacidade</a></div>
        </div>
        <div class="fo_card padd15-a">
          <h4 class="m5-b">Contactos</h4>
          <div class="padd5-tb f-link"><a href="/contact-us?id={{user._id}}" class="a">Suporte</a></div>
         
          <div class="footer-social-medias">
              <a class="a fb" href="https://www.facebook.com/profile.php?id=61587935595078" target="_blank"><i class="bi bi-facebook m5-r"></i></a>
              <a class="a tg" href=" "><i class="bi bi-telegram m5-a"></i></a>
              <a class="a wp" href=" "><i class="bi bi-whatsapp m5-l"></i></a>
            </div>
        </div>
      </div>
    
      <div class="copyrights padd15-a flex_b_c">
        <div class="paragraph"><a href="/" class="a">{{company}} S.A <span id="year"></span></a>, Todos os direitos reservados</div>
        <div class="flex_e_c">
          {{#if gateways}}
          {{#each gateways}}
        <img src="{{src}}" class="gates m5-l"/>
        {{/each}}
        {{/if}}
        </div>
      </div>
      </div>
  </footer>