<div class="m5-a padd10-a">
  <div class="i_card_link padd10-a br6-a flex_s">
    <div class="i_icon flex_c_c br60"><i class="bi bi-link-45deg"></i></div>
    <div class="middle padd10-lr">
      <div>Copie o link de convite</div>
      <p>Compartilhe com seus amigos e ganhe 5% por cada frota adquirida por seu amigo.</p>
      <div class="flex_s_c">
        <div class="ref_link padd10-t">{{baseUrl}}/ref?upline={{user._id}}</div>
        <div id="both"  class="btn_copy copyBtn">
          <i id="iconCopy"  class="bi bi-copy"></i>
          <div class="valueToCopy">{{baseUrl}}/ref?upline={{user._id}}</div>
        </div>
      </div>
    </div>
  </div>
</div>