  <div class="a_selection">
    <div accesskey="statusUsers" class="selection select a_container br6-a">
      <div class="flex_b_c selected_wrap">
        <div class="flex_b_c">
          <i class="bi bi-circle"></i>
          <p id="statusUsers" class="selected ellipsis">Por banidos</p>
        </div>
        <i class="bi bi-chevron-down arrow"></i>
      </div>
      <div class="selection_card a_container br6-a">
      <label>
        <div class="flex_s_c">
          <input accesskey="Todos" value="" name="isBanned" type="radio" class="input_radio_menu statusUsers"/>
          Todos
        </div>
      </label>
      <label>
        <div class="flex_s_c">
          <input accesskey="Banidos" value="true" name="isBanned" type="radio" class="input_radio_menu statusUsers"/>
          Banidos
        </div>
      </label>
      <label>
        <div class="flex_s_c">
          <input accesskey="Não banidos" value="false" name="isBanned" type="radio" class="input_radio_menu statusUsers"/>
          Não banidos
        </div>
      </label>
    </div>
  </div>
</div>