  <div class="a_selection">
    <div accesskey="statusVerified" class="selection select a_container br6-a">
      <div class="flex_b_c selected_wrap">
        <div class="flex_b_c">
          <i class="bi bi-circle"></i>
          <p id="statusVerified" class="selected ellipsis">Verificação</p>
        </div>
        <i class="bi bi-chevron-down arrow"></i>
      </div>
      <div class="selection_card a_container br6-a">
      <label>
        <div class="flex_s_c">
          <input accesskey="Todos" value="" name="verified" type="radio" class="input_radio_menu statusVerified"/>
          Todos
        </div>
      </label>
      <label>
        <div class="flex_s_c">
          <input accesskey="Verificados" value="true" name="verified" type="radio" class="input_radio_menu statusVerified"/>
          Verificados
        </div>
      </label>
      <label>
        <div class="flex_s_c">
          <input accesskey="Não Verificados" value="false" name="verified" type="radio" class="input_radio_menu statusVerified"/>
          Não Verificados
        </div>
      </label>
    </div>
  </div>
</div>