<title>Como funciona</title>
      </head>
  <body class="">
    <main class="layout">
        {{>_main-nav}}
        <header class="m-header flex_c_c a_container">
          
        </header>
         <section class="flex_c_c a_container">
      <div class="m-wraper">
        <div class="padd15-a">
          <h2>Entenda como funciona</h2>
          
          <p class="padd10-tb"><b>1</b> - O primeiro passo é selecionar uma frota que melhor se adequa às suas necessidades e objetivos financeiros. Normalmente, este programa oferece uma variedade de opções.</p>
          <p class="padd10-tb"><b>2</b> - Após escolher a frota desejado, você deve adicionar o valor que pretende investir. A quantia mínima ou máxima necessário pode variar de acordo com a frota selecionada e com o montante disponível para investimento.</p>
          <p class="padd10-tb"><b>3</b> - Ao adicionar o valor, o programa geralmente oferece diferentes métodos de pagamento. Você deve escolher a opção mais conveniente e seguir as instruções fornecidas pelo programa para efetuar o pagamento.</p>
          <p class="padd10-tb"><b>4</b> - Após o pagamento, é necessário aguardar até a data de retorno. Essa data é estabelecida previamente pelo programa, você será informado sobre ela durante o processo de investimento. Durante esse período, os especialistas em investimentos cuidarão do montante investido, visando obter os melhores resultados.</p>
          <p class="padd10-tb"><b>5</b> - Na data estipulada, o valor investido, juntamente com os lucros obtidos, estará disponível para resgate. Você poderá ter acesso a esse montante por meio do da sua pagina de perfil, que possibilita o levantamento dos fundos conforme as opções disponíveis, como transferência bancária ou transferência para uma conta específica.</p>
          
          <h3 class="padd10-t">Contato</h3>
          <p class="padd10-tb"><b>(a)</b> - Se você tiver alguma pergunta, entre em contato conosco através dos seguintes canais: <a class="a a_default" href="/contact-us?id={{user._id}}">Suporte</a>
          <br/>
          </p>
          <p class="padd15-t">Agradecemos por escolher a nossa empresa e confiar-nos as suas finanças para ter resultados santisfatório.</p>
         </div>
      </div>
    </section>
  
    {{>_footer}}
 </main>