
      <title>Política de Privacidade</title>
      </head>
  <body class="">
    <main class="layout">
        {{>_main-nav}}
        <header class="m-header flex_c_c a_container">
          
        </header>
         <section class="flex_c_c a_container">
      <div class="m-wraper">
        <div class="padd15-a">
          <h2>Política de Privacidade</h2>
          <p class="padd10-tb">Bem-vindo(a) à nossa Política de Privacidade. Esta página informa sobre nossas práticas em relação à coleta, uso e divulgação de informações pessoais quando você utiliza nosso site e/ou serviços.</p>
          <p class="padd10-tb">A proteção dos seus dados pessoais é uma prioridade para nós, e nos esforçamos para garantir a máxima segurança e confidencialidade em todas as interações.</p>
          
          <h3 class="padd10-t">1. Coleta de Informações Pessoais</h3>
          <p class="padd10-tb"><b>(a)</b> - Ao utilizar nossa plataforma e ou nossos serviços, podemos coletar as seguintes informações pessoais:</p>
          <p class="padd10-tb"><b>(b)</b> - Coletamos seu endereço de <b>e-mail</b> para entrarmos em contato com você e para fins de comunicação relacionada aos nossos serviços. </p>
          <p class="padd10-tb"><b>(c)</b> - Se você optar por fornecer seu número de <b>telefone</b>, podemos usá-lo para entrar em contato com você sobre questões relacionadas a nossos serviços ou pagamentos eletrônicos.</p>
          <p class="padd10-tb"><b>(d)</b> - Coletamos seu <b>nome</b> completo para identificação e personalização dos nossos serviços.</p>
          <p class="padd10-tb"><b>(e)</b> - Para fins de pagamentos e transações financeiras, podemos solicitar suas <b>informações bancárias</b>. Todas as informações transmitidas são criptografadas e tratadas com o máximo de segurança.</p>
          <p class="padd10-tb"><b>(f)</b> - Opcionalmente, podemos solicitar uma <b>imagem de perfil</b> para personalizar sua experiência conosco.</p>
          <p class="padd10-tb"><b>(g)</b> - Coletamos informações sobre sua localização geográfica para fornecer serviços adaptados à sua região e para fins operacionais internos.</p>
         
          <h3 class="padd10-t">2. Uso das Informações Pessoais</h3>
          <p class="padd10-tb"><b>Utilizamos suas informações pessoais coletadas para:</b></p>
          <p class="padd10-tb"><b>(a)</b> - Prestar nossos serviços e melhorar sua experiência como usuário;</p>
          <p class="padd10-tb"><b>(b)</b> - Entrar em contato com você para fins de suporte, atualizações e informações relacionadas aos nossos serviços;</p>
          <p class="padd10-tb"><b>(c)</b> - Cumprir com obrigações legais, regulatórias ou judiciais, caso sejamos requisitados por um juiz ou autoridade competente;</p>
          <p class="padd10-tb"><b>(d)</b> - Manter a segurança de nossos sistemas e salvaguardar a proteção de todos os usuários;</p>
          
          <h3 class="padd10-t">3. Compartilhamento de Informações Pessoais</h3>
          <p class="padd10-tb"><b>Podemos compartilhar suas informações pessoais nas seguintes circunstâncias:</b></p>
          <p class="padd10-tb"><b>Com consentimento expresso:</b> Quando obtivermos seu consentimento prévio e expresso para compartilhar informações pessoais específicas;</p>
          <p class="padd10-tb"><b>Para cumprir com obrigações legais:</b> Podemos ser obrigados a divulgar suas informações pessoais em resposta a solicitações legais, processos judiciais ou cumprimento de leis;</p>
          <p class="padd10-tb"><b>Transferência de negócios:</b> Em caso de transferência, fusão ou venda de nossos ativos, suas informações pessoais podem ser transferidas aos terceiros envolvidos; </p>
          <p class="padd10-tb"><b>Com parceiros confiáveis:</b> Podemos compartilhar suas informações pessoais com terceiros confiáveis que nos auxiliam na prestação de nossos serviços, desde que concordem em manter suas informações confidenciais e seguras;</p>
          <p class="padd10-tb"><b>Anônimas e agregadas:</b> Podemos compartilhar informações anônimas e agregadas sobre nossos usuários para fins estatísticos, publicitários ou outros; </p>
          
          <h3 class="padd10-t">4. Segurança e Armazenamento de Dados</h3>
          <p class="padd10-tb"><b>(a)</b> - Tomamos medidas de segurança necessárias para proteger suas informações pessoais contra perdas, uso indevido e acesso não autorizado. Implementamos protocolos de segurança e criptografia para salvaguardar suas informações.</p>
          <p class="padd10-tb"><b>(b)</b> - Armazenamos suas informações pessoais pelo tempo necessário para cumprir com os fins descritos nesta política. Quando não houver mais necessidade de reter suas informações, elas serão adequadamente descartadas.</p>
          
          <h3 class="padd10-t">5. Seus Direitos e Opções</h3>
          <p class="padd10-tb"><b>(a)</b> - Você tem o direito de acessar, corrigir, atualizar e excluir suas informações pessoais. Caso deseje exercer seus direitos ou tenha outras perguntas relacionadas a esta política, entre em contato conosco através dos canais indicados no final desta página.</p>
          
          <h3 class="padd10-t">6. Links Externos</h3>
          <p class="padd10-tb"><b>(a)</b> - Nosso site e serviços podem conter links para sites de terceiros. Esta Política de Privacidade aplica-se somente aos nossos serviços e não podemos ser responsabilizados pelas práticas de privacidade desses sites externos. Recomendamos que você revise as políticas de privacidade desses sites antes de fornecer qualquer informação pessoal.</p>
          
          <h3 class="padd5-t">7. Alterações a esta Política de Privacidade</h3>
          <p class="padd10-tb"><b>(a)</b> - Podemos atualizar esta Política de Privacidade periodicamente para refletir mudanças em nossas práticas de privacidade. Recomendamos que você revise esta página regularmente para se manter informado(a) sobre qualquer alteração. Ao continuar a utilizar nosso site e/ou serviços após a publicação de quaisquer alterações nesta política, você estará aceitando essas modificações.</p>
          
          <h3 class="padd10-t">8. Contato</h3>
          <p class="padd10-tb"><b>(a)</b> - Se você tiver alguma pergunta, preocupação ou quiser exercer seus direitos relacionados à privacidade, entre em contato conosco através dos seguintes canais: <a class="a a_default" href="/contact-us">Contacte-nos</a>
          <br/>
          </p>
          <p class="padd15-t">Agradecemos por escolher a nossa empresa e confiar-nos as suas informações pessoais. Temos o compromisso de manter a segurança e a confidencialidade de seus dados.</p>
         </div>
      </div>
    </section>
  
    {{>_footer}}
 </main>